@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@400;700&display=swap");

html, body {
	width: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", sans-serif;

	color: #333333;
}

.header_main {
	display: flex;
	height: 84px;

	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.section_main {
	margin-bottom: 110px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.li_main {
	width: max-content;
}

.text_title {
	margin-bottom: 32px;
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.list_selector>li {
	padding-left: 30px;
	margin-bottom: 24px;

	font-size: 16px;
    line-height: 24px;
}

.selector-section {
	height: 300px;
}

.logo {
	width: 80px;
}

.ul_main {
	list-style: none;
}

.ul_horizontal {
	display: flex;
    align-items: center;
    justify-content: space-around;

    width: 475px;
}

.phone {
	font-family: "PT Sans Caption", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;

	color: #6f6f6f;
}

.button_empty {
	background: #ffffff;
	cursor: pointer;
	appearance: none;
	border: 0;
}

.button_main {
	display: flex;
	align-items: center;

	height: 50px;
	padding-top: 5px;
	padding-bottom: 8px;

	background-color: #ff6600;
	border-radius: 45px;
}

.button_long {
	width: 290px;
}

.button_main_transparent {
	box-sizing: border-box;

	background: #ffffff;
	border: 2px solid #eaeaea;
	border-radius: 39px;
}

.button_main_transparent a {
	color: #333333;
}

.button_main_transparent_active {
	border: 2px solid #ff6600;
}

.button_main_transparent_active .button__text_dark {
	color: #ff6600;
}

.button_signin {
	margin-left: 20px;
}

.button__text {
	padding: 1.3rem 30px;

	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;

	color: #ffffff;
}

.button__text_dark {
	color: #333333;
}

.wrapper_main {
	max-width: 1200px;
	margin: auto;
}

.wrapper_fixed {
	width: 1200px;
	margin: auto;
}

.container_sections {
	margin-top: 140px;
}

.container_forms {
	display: flex;
	width: 100%;
}

.container_forms .field {
	display: flex;
	margin-right: 24px;

	width: 100%;
	height: 56px;

	border: 1px solid #b6b6b6;
	box-sizing: border-box;
	border-radius: 5px;
}

.container_forms .field ul {
	display: flex;
	align-items: center;
	margin-left: 18px;

	list-style: none;
}

.container_forms .field ul li {
	display: flex;
	align-items: center;
	margin-left: 18px;

	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.02em;

	list-style: none;
	color: #6f6f6f;
}

.container_forms .field input {
	margin-left: 18px;
	border: none;
	width: 100%;
}

.container_forms .field input:focus-visible {
	outline: 0;
}

.section__text {
	margin-bottom: 10px;
	font-style: normal;
}

.section__image {
	margin-left: 82px;
}

.text_base {
	font-family: "PT Sans Caption", sans-serif;
}

.text_title {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
}

.text_orange {
	color: #ff6600;
}

.section__text h1 {
	margin-bottom: 30px;

	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
}

.section__text h2 {
	margin-bottom: 50px;

	font-size: 32px;
	line-height: 42px;
	font-weight: 700;
}

.section__text p {
	margin-bottom: 40px;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

p.text_description {
	margin-top: 16px;

	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #999999;
}

.section__info>.section__list_3x2 {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
}

.section__list_3x2 .card {
	width: 100%;
	padding: 42px 30px;

	display: flex;
	align-items: center;

	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.section__list_3x2 .card p {
	margin-left: 32px;

	font-family: "PT Sans Caption", sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}

.section__list_3x2 .card .card__ad {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;

	color: #ff6600;
}

.container_button {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-bottom: 40px;
}

.container_button .button_main a {
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}

.section__list {
	display: none;
}

.section__list_active {
	display: flex;
}

.section__list .section__list_left,
.section__list .section__list_right {
	width: 100%;
}

.list_apply {
	list-style-image: url("./assets/ic_apply.svg");
	padding-left: 30px;
}

.list_round-apply {
	list-style-image: url("./assets/ic_apply_round.svg");
	padding-left: 30px;
}

.list_round-apply li {
	padding-left: 30px;
	margin-bottom: 24px;
	max-width: 100%;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

.button_horizontal {
	margin-right: 24px;
}

.table {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 8px 8px 10px 10px;
}

.table_row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 64px;
	padding: 0 10px;

	border-bottom: 2px solid #EAEAEA;
}

.table_row_last {
	border: 0;
}

.table_row.head {
	padding-bottom: 30px;
	padding-top: 50px;

	font-weight: bold;
}

.table_row div:first-child {
	justify-content: flex-start;
	width: 62%;
	margin-left: 60px;
}

.table_row div {
	width: 19%;
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

.slide__data {
	display: none;
	transition: all ease 1s;
	position: relative;
	z-index: 1;
}

.slide__data img {
	height: 590px;
}

.slide_active {
	display: block;
}

.button_slider {
	background-color: #ffffff;
	position: relative;
}

.slider-prev {
	left: 75px;
}

.slider-next {
	right: 75px;
}

.slider-container-indicators {
	display: flex;
	justify-content: center;
}

.slider-point {
	display: inline-block;

	width: 10px;
	height: 10px;
	margin-right: 2%;

	border-radius: 100%;
	background: #999999;
}

.slider-point_active {
	background: #ff6600;
}

.block_limited {
	width: 990px;
}

.section-grid-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.section__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section__grid_item {
	width: 80%;
}

.section__grid_item .section__grid_item_main {
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 56px;

	color: #178a00;
}

.section__grid_item .section__grid_item_info {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;

	color: #333333;
}

.link {
	text-decoration: none;
}

.link_contrast {
	color: #f76201;
}

.link_bold {
	margin-top: 30px;
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}

.link_black {
    font-size: 14px;

	color: #333333;
}

.container_articles {
	display: flex;
	justify-content: space-between;
}

.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 333px;
}

.article .article__top {
	display: flex;
	align-items: center;

	margin-bottom: 25px;
}

.article .article__top .article__top__img {
	margin-right: 44px;
}

.article .article__top .article__top__title {
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;

	color: #333333;
}

.article .article__main {
	margin-bottom: 40px;

	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;

	color: #333333;
}

.footer-contacts-wrapper {
	display: flex;
    justify-content: space-between;
	margin-top: 140px;
}

.footer-contacts__info__phone {
	margin-bottom: 14px;

	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;

	color: #333333;
}

.footer-contacts__info__address {
	font-family: PT Sans Caption;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	color: #333333;
}

.footer__container_links {
	display: flex;
	align-items: center;
}

.footer-links__websites {
	margin-right: 40px;
}

.article_footer {
	width: 250px;
	height: 210px;
}

.article_footer>.article__main {
	line-height: 32px;
}

.footer__bottom {
	height: 64px;
	margin-top: 30px;

	align-items: center;

	background-color: #f4f4f4;
}

.footer-contacts>.logo {
	margin: 0px 36px 0px 0px;
}

.li_horizontal {
	display: inline;
}

.li_icons {
	margin-right: 5px;
}

.container_bottom {
	width: 1200px;
}

.wrapper {
	display: flex;
}

.block_buy .text_agreement {
	margin-bottom: 0px;
	margin-left: 48px;

	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;

	letter-spacing: 0.02em;

	color: #6F6F6F;
}

.block_buy {
	display: flex;
	align-items: center;
}



@media screen and (max-width: 1366px)
{
	.wrapper_main,
	.container_bottom {
		max-width: 990px;
	}

	.wrapper_fixed {
		width: 990px;
	}

	.container_bottom {
		width: 990px;
	}

	.section_main {
		margin-bottom: 90px;
	}

	.footer-links__websites {
		margin-right: 20px;
	}
}

@media screen and (max-width: 768px)
{
	.wrapper_main,
	.container_bottom {
		max-width: 640px;
	}

	.wrapper_fixed {
		width: 640px;
	}

	.container_bottom {
		width: 640px;
	}

	.container_forms {
		flex-direction: column;
	}

	.container_forms>.field {
		margin-bottom: 10px;
	}

	.section_main {
		margin-bottom: 70px;
	}

	.section__image {
		margin-left: 0;
		display: flex;
    	justify-content: center;
	}

	.section__image_dissolve {
		display: none;
	}

	.section__list_vertical {
		flex-direction: column;
	}

	.element_disolve {
		display: none;
	}

	.slider-container {
		display: none;
	}

	.section__info>.section__list_3x2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.selector-section {
		height: 470px;
	}

	.section__text h2 {
		font-size: 24px;
		line-height: 34px;
	}

	.block_buy .text_agreement {
		font-size: 12px;
		line-height: 16px;
	}

	.footer-contacts>.logo {
		margin: 0;
	}

	.container_sections {
		margin-top: 60px;
	}

	.table_row_last_small {
		border: 0;
	}
}

@media screen and (max-width: 320px)
{
	.wrapper_main,
	.container_bottom {
		max-width: 288px;
	}

	.wrapper_fixed {
		width: 288px;
	}

	.container_bottom {
		width: 288px;
	}

	.container_articles {
		flex-direction: column;
	}

	.section_main {
		margin-bottom: 60px;
	}

	.section__grid {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}

	.section__image {
		margin-left: 0;
	}

	.image_small {
		height: 210px;
	}

	.block_buy {
		flex-direction: column;
	}

	.block_buy .text_agreement {
		margin-left: 0;
		margin-top: 16px;
	}

	.article {
		width: auto;
	}

	.article .article__main {
		margin-bottom: 14px;
	}

	.article {
		margin-bottom: 52px;
	}

	.section__info>.section__list_3x2 {
		grid-template-columns: repeat(1, 1fr);
	}

	.section__list_3x2 .card {
		padding: 26px 20px;
	}

	.footer-links__websites {
		margin-right: 0px;
	}

	.section__text p {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.02em;
	}

	.list_selector>li {
		padding-left: 24px;
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 24px;
	}

	.selector-section {
		height: 490px;
	}

	.section__grid_item {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.section__grid_item_info {
		text-align: center;
	}

	.container_sections {
		margin-top: 30px;
	}

	.button_signin {
		margin-left: 0;
	}

	.button_entry {
		height: 0px;
		background-color: #ffffff
	}

	.button__text_entry {
		padding: 0;
		color: #FF6600;
	}
	
}